@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Queries
/*
0-600: phone
600-900: tablet portrait
900-1200: tablet landscape
1200-1800: desktop(normal styles)
1800-2400: large desktop
*/

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
